%li{ :id => "#{log_item.id}" }
  %span.title
    =log_item.title.truncate(30) if log_item.title and !log_item.title.nil?
  %span.content
    = link_to log_item.link.truncate(30), log_item.link, :target => :blank
  %span.timestamp
    = time_ago_in_words(log_item.created_at)
    ago
  - if signed_in?
    =link_to "Delete", log_item, :method => :delete, :data => { :confirm => "You sure, bro?" }, :title => log_item.title