%li{ :id => "#{log_item.id}" }
  - if signed_in?
    - if log_item.private?
      %span.privatify
        %i{:class => "icon-lock" }
    = render 'default_pages/content', :log_item => log_item
  -else
    - if log_item.private?
      %span.privatify
        %i{:class => "icon-lock" }
      %span.locked
        Locked
      %span.content
        %blockquote
          %i Content marked private
          %span.timestamp
            = time_ago_in_words(log_item.created_at)
            ago
    - else
      = render 'default_pages/content', :log_item => log_item