%span.add_title_block
  %h3 Add link

=form_for @post do |f|
  /= render 'default_pages/error_messages', :object => f.object
  - if @post.errors.any?
    %div#error_explanation
      %div.alert.alert-error
        The form contains
        =pluralize(@post.errors.count, 'error')
      -@post.errors.full_messages.each do |msg|
        %li
          =msg
  %div.field
    =f.text_field :title, :placeholder => "Insert title here.. "
    =f.text_field :link,  :placeholder => "Enter link address here.. "
    %br
    =f.check_box :private
    =f.label :private, "Private?", :class => "private"
    =f.check_box :important
    =f.label :important, "Important?", :class => "private"

    =f.label :tag_list, "Tags"
    =f.text_field :tag_list


  =f.submit "Post", :class => 'btn btn-large'  
