-if signed_in?
  %div.row
    %aside.span4
      %section
        = render 'default_pages/user_info'
      %section
        = render 'default_pages/post_form'
    %div.span8
      %h3 LinkLog
      = render 'default_pages/log'
-else
  %h2
    LinkLog
  %div.row
    =render 'default_pages/log'
    


