%div.row
  %aside.span4
    %section
      = render 'default_pages/user_info'
    - if signed_in?  
      %section
        = render 'default_pages/post_form'
  %div.span8
    %h3 LinkLog
    = render 'default_pages/log'

