%div.row
  %aside.span4
    %section
      = render 'default_pages/user_info'
    - if signed_in?  
      %section
        = render 'default_pages/post_form'
  %div.span8
    %h3 LinkLog
    -# =form_tag root_path, :method => :get, :class => "form-search" do
    -#   =text_field_tag :search, nil, :class => 'input-medium search-query', :placeholder => "Query"
    -#   =submit_tag "Search", :name => nil
    = render 'default_pages/log'

